<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="JobManageEntities" connectionString="metadata=res://*/DatabaseModel.JobManage.csdl|res://*/DatabaseModel.JobManage.ssdl|res://*/DatabaseModel.JobManage.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=.\JobManage.db&quot;" providerName="System.Data.EntityClient" />
    <!--
    <add name="JobManageEntities" connectionString="metadata=res://*/DatabaseModel.JobManage.csdl|res://*/DatabaseModel.JobManage.ssdl|res://*/DatabaseModel.JobManage.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=\\\\lsxfile\pj_lsx\LBS\維持管理\000.管理\090.工数管理\JM\JobManage.db&quot;" providerName="System.Data.EntityClient" />
    -->
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="event"
              xsi:type="File"
              encoding="UTF-8"
              lineEnding="LF"
              layout="[${longdate}] [${uppercase:${level:padding=5}}] ${message} - ${callsite}() ${exception:format=tostring}"
              fileName="${basedir}/logs/event.log"
              archiveNumbering="Date"
              archiveFileName="${basedir}/logs/archive/{#}-event.log"
              archiveEvery="Day" archiveDateFormat="yyyyMMdd"
              maxArchiveFiles="7"/>
      <target name="error"
              xsi:type="File"
              encoding="UTF-8"
              lineEnding="LF"
              layout="[${longdate}] [${uppercase:${level:padding=5}}] ${message} - ${callsite}() ${exception:format=tostring}"
              fileName="${basedir}/logs/error.log"
              archiveNumbering="Date"
              archiveFileName="${basedir}/logs/archive/{#}-error.log"
              archiveEvery="Day" archiveDateFormat="yyyyMMdd"
              maxArchiveFiles="7"/>
    </targets>
    <rules>
      <logger name="*" levels="Info,Warn" writeTo="event"/>
      <logger name="*" levels="Error,Fatal" writeTo="error"/>
    </rules>
  </nlog>
</configuration>